DATABASE_URL="postgresql://name:password@localhost:5432/realetste_db?schema=public"
PORT=3000
NODE_ENV=development
API_PREFIX=api
API_VERSION=1
CORS_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:8081
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=900
RESEND_API_KEY=
MAIL_FROM=Acme <onboarding@resend.dev>
MAIL_DEV_TO=delivered@resend.dev
APP_BASE_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3001
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ADMIN_NOTIFICATION_EMAIL=your-real-email@gmail.com